<h1>Editing location</h1>


<%= form_for [:admin, @location] do |form| %>

  <%= render "form", location: @location %>

<% end %>

<br>

<div>
  <%= link_to "Show this location", admin_location_path(@location), class: "btn btn-dark" %> |
  <%= link_to "Back to locations", admin_locations_path, class: "btn btn-dark" %>
</div>
