<nav class="nav navbar-brand flex-column text-center">
  <ul class="nav flex-column text-center text-md-end">
    <h3><%= link_to 'Admins', admin_users_path %></h3>
    <h3><%= link_to 'Location', admin_locations_path %></h3>
    <h3><%= link_to 'Dashboard', admin_root_path %></h3>
  </ul>
</nav>
