<p style="color: green"><%= notice %></p>

<h1>All Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <div class="container navbar">
      <div class="row">
        <div class="col">
          <%= render 'admin/users/user', user: user %>
         </div>
        <div class="col">
          <%= link_to "Show this user", admin_user_path(user) %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>

</div>

<%= link_to "New user", new_admin_user_path %>
  